        </div>
    </main>
    <footer class="bg-info">
        <div class="text-white text-center container">
            <p class="p-2 m-0">This website was implemented by <a href="https://saifsweelam.github.io"><strong>Seif El-Din
                        Sweilam</strong></a></p>
        </div>
    </footer>
    <!--Background SVG-->
    <div id="bg"></div>
    <!--Loader & Overlay-->
    <div class="loading">
        <div class="loader"></div>
        <p class="text-white">Getting Image...</p>
    </div>
    <div class="overlay"></div>
    <!--JavaScript Files-->
    <script src="/javascripts/form.js"></script>
</body>

</html>